@font-face {
  font-family: "musicnet";
  src: local("musicnet"), url("./fonts/musicnet.ttf");
}
body,
html,
* {
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.coming-soon-page {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  background-color: #00fe70;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.logo {
  width: 75%;
}

.visualization-animation {
  font-size: clamp(0.5rem, 4vw, 3.6rem);
  letter-spacing: 2px;
  margin-top: 5px;
  margin-bottom: clamp(1rem, 2vw, 2rem);
}

.contact {
  font-size: clamp(1rem, 4.333vw, 3.6rem);
  font-weight: 700;
}

.email {
  font-size: clamp(1rem, 1.8vw, 3.6rem);
}

.instagram {
  margin: clamp(1rem, 1.8vw, 2rem) 0;
  font-size: clamp(1rem, 8vw, 3.6rem);
}

.coming-soon {
  color: #00fe70;
  margin-top: clamp(1rem, 10vw, 4rem);
  font-family: 'musicnet';
  font-size: clamp(1rem, 10vw, 5rem);
}

@media only screen and (min-width: 500px) {
  .visualization-animation {
    font-size: clamp(1rem, 4vw, 3.6rem);
  }
}

@media only screen and (min-width: 768px) {
  .circle {
    width: 60vw;
    height: 60vw;
  }
  .visualization-animation {
    font-size: clamp(1rem, 3.4vw, 3.6rem);
  }
  .coming-soon {
  font-size: clamp(1rem, 7.5vw, 5rem);
}
}

@media only screen and (min-width: 992px) {
  .circle {
    max-width: 50vw;
    max-height: 50vw;
  }

  .visualization-animation {
    font-size: clamp(1rem, 3vw, 3.6rem);
  }
  .contact {
    font-size: clamp(1rem, 3vw, 3.6rem);
  }
}

@media only screen and (min-width: 1400px) {
  .circle {
    max-width: 40vw;
    max-height: 40vw;
  }

  .visualization-animation {
    font-size: clamp(1rem, 2.5vw, 3.6rem);
  }
  .contact {
    font-size: clamp(1rem, 2.5vw, 3.6rem);
  }
  .email {
    font-size: clamp(1rem, 1.5vw, 3.6rem);
  }
}

@media only screen and (min-width: 1700px) {
  .circle {
    max-width: 30vw;
    max-height: 30vw;
  }

  .visualization-animation {
    font-size: clamp(1rem, 1.8vw, 3.6rem);
  }
  .contact {
    font-size: clamp(1rem, 2vw, 3.6rem);
  }
}
.circle-2 {
  width: 10%;
  max-width: 50px;
  height: auto;
  border-radius: 50%;
  background-color: red;
}
